.appArea {
  color: #22223b;
  font-family: Quicksand;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px 16px;
}

h1 {
  font-size: 30pt;
  font-weight: 850;
  margin: 15px 10px 0px 10px;
  padding: 5px 20px 0px;
}

h2 {
  font-size: 50pt;
}

h3 {
  font-size: 15pt;
  margin: 0 10px 15px 10px;
  padding: 0px 20px 5px;
}

h5 {
  font-style: italic;
  margin: 0;
}

h1,
h3,
h5 {
  text-align: center;
}

h5,
h6 {
  font-weight: bolder;
}

hr {
  margin: 0px 5px 5px;
}

input.form-control {
  width: 350px !important;
}

.card-body {
  padding: 0;
  margin: 40px 5px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #f2e9e4;
  border-radius: 20px;
  border: 2px solid black;
}

.curTemp {
  display: contents;
  padding: 30px;
  text-align: center;
}

.curtempDisplay {
  align-items: center;
  display: contents;
  margin: 5px;
}

.curtempImg {
  margin-top: 20px;
  text-align: center;
}

.day1,
.day2,
.day3,
.day4,
.day5 {
  font-weight: normal;
}

.text-center {
  border: 0px;
}

#condition {
  display: flex;
  justify-content: space-evenly;
}

.fa-2x:hover {
  cursor: pointer;
  color: #2d92bb;
}

.navbar {
  margin-bottom: 20px;
}

.signature {
  color: #2d2d2d;
  text-align: center;
  font-size: 10pt;
}

.text-center {
  margin-bottom: 10px;
}

.Title {
  font-size: 40pt;
  font-weight: bolder;
  text-align: center;
}

#high-low,
#feelsLike,
#humidity,
#wind,
#sunrise,
#sunset {
  font-size: 11pt;
  font-weight: bold;
}

.curtempImg {
  margin-bottom: 20px;
  margin-top: -10px;
  text-align: center;
}

.units {
  display: flex;
  justify-content: space-evenly;
}

.active {
  color: rgb(33, 33, 33);
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}
